
.profile-icon-20 {
    display: flex;
    align-items: center;
}

.profile-icon-20 img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.dropdown-20 {
    position: relative;
    display: inline-block;
}

.dropbtn-20 {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-content-20 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content-20 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content-20 a:hover {
    background-color: #f1f1f1;
}

.dropdown-20:hover .dropdown-content-20 {
    display: block;
}

main {
    display: flex;
    margin: 20px;
}

.aside-20 {
    width: 200px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
}

.aside-ul-20 {
    list-style: none;
    margin: 0;
    padding: 0;
}

.aside-ul-20 li {
    margin-bottom: 10px;
}

.aside-ul-20 li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.aside-ul-20 li a.active-20 {
    font-weight: bold;
}

.appointments-section-20 {
    flex: 1;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-left: 20px;
}

.appointments-section-20 h2 {
    margin-bottom: 20px;
}

.appointment-20 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.appointment-20 img {
    width: 130px;
    height: 150px;
    border-radius: 20%;
    margin-right: 20px;
}

.details-20 {
    flex: 1;
    margin-right: 20px;
}

.details-20 h3 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 18px;
}

.details-20 p {
    margin: 5px 0;
}

.cancel-button-20 {
    background-color: #F2F5F7;
    color: #F94C4C;
    border: none;
    border-radius: 12px;
    padding: 5px 10px;
    cursor: pointer;
    border-style: solid;
}

.cancel-button-20:hover {
    background-color: #F94C4C;
    color: #F2F5F7;
}

.doctor-image-20 {
    height: 10px;
    border-radius: 0%;
    width: 5px;
}

.right-side-20 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.right-side-20 p:first-child {
    margin-bottom: 5px;
    text-align: center;
}

.right-side-20 h3 {
    margin-top: 0px;
    margin-bottom: 20px;
    color: #11AF2E;
    text-align: center;
}

#doctor-details-20 {
    margin-bottom: 20px;
}
